<!-- Include library -->
<link rel="stylesheet" href="static/css/solarized-dark.css">
<script src="static/js/highlight.pack.js"></script>
<!-- Initialize highlight -->
<script>hljs.initHighlightingOnLoad();</script>



<div class=" highlight hl-ipython3"><pre><span></span> to <div class=" highlight hl-ipython3"><pre><code>


and 

</pre></div> to </pre></code></div>

and images need class="img-fluid" including ipython image outputs (<img src="data:....">)

and tables need to go from

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">

to

<div class="table-responsive">

<table border="1" class="table-striped">